//branding
$simscale-blue: #167cad;

//elements
$white-background: #FAFAFA;
$light-border-color: #ececec;
$menu-border-color: #E6E6E6;
$menu-background-color: #F6F6F6;
$input-border-color: #c5c5c5;
$icon-button-color: $simscale-blue;
$icon-button-color-hover: #255f92;
$icon-button-border-color: #459cc0;

//text
$light-text-color: #8a8a8a;
$dark-text-color: #323232;