@font-face {
  font-family: 'simscale';
  src:
    url('../assets/fonts-icons/simscale.ttf?5faxbi') format('truetype'),
    url('../assets/fonts-icons/simscale.woff?5faxbi') format('woff'),
    url('../assets/fonts-icons/simscale.svg?5faxbi#simscale') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simscale' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e903";
}
.icon-th-list:before {
  content: "\e900";
}
.icon-clock-o:before {
  content: "\e901";
}
.icon-code-fork:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e986";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-heart:before {
  content: "\e9da";
}

