$desktop-width: 1200px;
$small-desktop-width: 992px;
$tablet-width: 768px;

$desktop: "screen and (min-width: #{$desktop-width})";
$small-desktop: "screen and (min-width: #{$small-desktop-width}) and (max-width: #{$desktop-width - 1})";
$tablet: "screen and (min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1})";
$mobile: "screen and (max-width: #{$tablet-width - 1})";

$tablet-or-smaller: "screen and (max-width: #{$small-desktop-width - 1})";
$larger-than-tablet: "screen and (min-width: #{$small-desktop-width})";
