@mixin background-image-with-ratio($image-src) {
  background-image: url(#{$image-src}.png);
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url(#{$image-src}2x.png);
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$no-touch-selector: "#app.no-touch";
