<template>
  <button 
    class="IconButton font-icon"
    v-on:click="$emit('click')"
    v-bind:class="['icon-'+buttonIcon,'IconButton--position-'+position]"></button>
</template>
<script>
export default {
  name: 'IconButton',
  props: ['buttonIcon', 'position']
}
</script>
<style lang="scss">
@import "../style/colors.scss";
@import "../style/dimensions.scss";

.IconButton {
  outline: none;
  background-color: $icon-button-color;
  width: $icon-button-size;
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  height: $icon-button-size;
  &:hover {
    background-color: $icon-button-color-hover;
  }
}
.IconButton--position-single {
  border-radius: $icon-button-corner-radius;
}
.IconButton--position-right {
  border-radius: 0px $icon-button-corner-radius $icon-button-corner-radius 0px;
}
.IconButton--position-center {
  border-left: solid $icon-button-border-color 1px;
  width: $icon-button-size + 1;
  + .IconButton--position-right {
    border-left: solid $icon-button-border-color 1px;
    width: $icon-button-size + 2;
  }
}
.IconButton--position-left {
  border-radius: $icon-button-corner-radius 0px 0px $icon-button-corner-radius;
}
</style>
