<template>
  <div class="Stat" :title="title"><span class="Stat-icon font-icon" v-bind:class="'icon-'+icon"></span>{{value}}</div>
</template>
<script>
export default {
  props: ['icon', 'value', 'title']
}
</script>
<style lang="scss">
@import "../style/colors.scss";
@import "../style/typography.scss";

.Stat {
  margin-left: 6px;
  float: right;
  @include small-text;
  color: $light-text-color;
}

.Stat-icon {
  margin-right: 3px;
  font-size: 13px;
  color: $simscale-blue;
}
</style>
