<template>
<div class='ProjectItem'>
  <div class="ProjectItem-innerContainer">
    
    <div class='ProjectItem-image' 
      v-bind:style="{backgroundImage: !!project.thumbnailUrl ? `url(${simscaleBaseDomain}${project.thumbnailUrl})` : ''}"> 
      <!-- @todo move image url logic into component script-->
      
      <div class="ProjectItem-hoverIcon font-icon icon-eye"></div>
      <div v-if="!project.thumbnailUrl" class="ProjectItem-missingImage">
        {{$t("imageMissing")}}
      </div>

    </div>

    <div class="ProjectItem-content">
      
      <div class="ProjectItem-header">
        
        <div class="ProjectItem-authorImage"></div>
        
        <div class="ProjectItem-headerRightPart">
          <div class="ProjectItem-projectName" :title="project.projectName">{{project.projectName}}</div>
          <div class="ProjectItem-ownerName">{{$t('authorAttribution', {author:project.ownerName}) }}</div>
        </div>

      </div>
      
      <div class="ProjectItem-details">
        {{$tc('cadsCount', project.numberOfGeometries, {count:project.numberOfGeometries})}} /
        {{$tc('simulationsCount', project.numberOfSimulations, {count:project.numberOfSimulations}) }} /
        {{$tc('meshesCount', project.numberOfMeshes, {count:project.numberOfMeshes})}}
      </div>
      
      <div class="ProjectItem-footer">
        
        <IconStat :title="$t('copies')" icon="code-fork" :value="project.numberOfCopies"/>
        <IconStat :title="$t('likes')" icon="heart" :value="project.numberOfLikes"/>
        <IconStat :title="$t('views')" icon="eye" :value="project.numberOfViews"/>
        
        <div class="ProjectItem-date">
          {{$t('changedDate')}}{{[project.lastModificationDate, "MMM D, YYYY h:mm:ss a"] | moment("from")}}
        </div>

      </div>

   </div>

 </div>
</div>
</template>

<script>
import {baseDomain as simscaleBaseDomain} from '@/data/SimscaleApi'
import IconStat from '@/components/IconStat'
export default {
  name: 'ProjectItem',
  props: {
    project: {
      default: () => ({})
    }
  },
  data () {
    return {
      simscaleBaseDomain // used constructing thumbnail urls
    }
  },
  components: {
    IconStat
  }
}
</script>

<style lang="scss">
@import "../style/grid.scss"; // @todo avoid relative paths
@import "../style/dimensions.scss";
@import "../style/colors.scss";
@import "../style/typography.scss";
@import "../style/mixins.scss";

$item-bottom-area-height: 112px;
$image-aspect-ratio: 198/270;

$hover-transition-duration: 0.15s;

//general structure

@mixin project-item-dimensions($media-query, $screen-width, $item-per-row) {
  @media #{$media-query} {
    $item-total-width: ($screen-width / $item-per-row);
    $item-image-height: ($item-total-width - $project-item-spacing) * $image-aspect-ratio;
    .ProjectItem {
      height: $item-bottom-area-height + $item-image-height;
      width: $item-total-width;
    }
    .ProjectItem-image {
      height: $item-image-height
    }
    .ProjectItem-missingImage {
      padding-top: $item-image-height/2 - 12px;
    }
  }
}
@include project-item-dimensions($desktop, $desktop-width, 4);
@include project-item-dimensions($small-desktop, $small-desktop-width, 3);
@include project-item-dimensions($tablet, $tablet-width, 2);
@media #{$mobile} {
  .ProjectItem-image {
    height: calc((100vw - #{$project-item-spacing}) * #{$image-aspect-ratio});
  }
  .ProjectItem {
    width: 100%;
    height: calc(#{$item-bottom-area-height} + (100vw - #{$project-item-spacing}) * #{$image-aspect-ratio});
  }
    .ProjectItem-missingImage {
      padding-top: calc(-12px + (100vw - #{$project-item-spacing}) * #{$image-aspect-ratio} / 2);
    }
}

// containers
.ProjectItem {
  margin-bottom: $project-item-spacing;
  float: left;
  padding: 0 $project-item-spacing / 2;
  position: relative;
  
  background-color: $white-background;
  // this is to force the layer becoming an opaque layer,
  // resulting in faster gpu layer composition while
  // animating, etc
}
.ProjectItem-innerContainer {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  height: 100%;
  overflow: hidden;
}

//hover effect
#{$no-touch-selector} {
  .ProjectItem {
    transition-property: transform;
    transition-duration: $hover-transition-duration;
    transition-timing-function: ease-out;
    &:hover {
      transform: translateY(-10px);
      > .ProjectItem-innerContainer {
        box-shadow: 0 2px 12px rgba(0,0,0,0.25);
      }
      .ProjectItem-hoverIcon {
        display: block;
      }
      .ProjectItem-missingImage {
        display: none;
      }
    }
  }
  .ProjectItem-innerContainer {
    transition-timing-function: ease-out;
    transition-property: box-shadow;
    transition-duration: $hover-transition-duration;
  }
}
//top image

.ProjectItem-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #EEE;
  position: relative;
}
.ProjectItem-hoverIcon {
  $hover-icon-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: - $hover-icon-size / 2;
  margin-top: - $hover-icon-size / 2;
  width: $hover-icon-size;
  height: $hover-icon-size;
  background-color: rgba(0,0,0, 0.5);
  border-radius: $hover-icon-size / 2;

  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 16px;

  display: none;
}
.ProjectItem-missingImage {
  text-align: center;
  @include small-text;
  color: $light-text-color;
}
//bottom part
.ProjectItem-content {
  padding: 12px;
}
.ProjectItem-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ProjectItem-authorImage {
  $author-image-size: 33px;
  min-width: $author-image-size;
  height: $author-image-size;
  background-size: contain;
  background-repeat: no-repeat;
  @include background-image-with-ratio('../assets/author-placeholder');
  border: 1px #d3d3d3 solid;
  border-radius: $author-image-size / 2;
  box-shadow: inset 4px 4px 10px transparentize(black, 0.9);
}
.ProjectItem-headerRightPart {
  margin-left: 10px;
  min-width: 0;
}
.ProjectItem-projectName {
  @include ellipsis;
  @include large-text;
  color: $simscale-blue;
}
.ProjectItem-ownerName {
  @include ellipsis;
  @include small-text;
  color: $light-text-color;
}

.ProjectItem-details {
  @include small-text;
  @include ellipsis;
  padding: 8px 0 10px 0;
  color: $dark-text-color;
  border-bottom: solid 1px $light-border-color;
}

//footer

.ProjectItem-date {
  @include small-text;
  font-style: italic;
  color: $light-text-color;
}
.ProjectItem-footer {
  padding-top: 10px;
}

</style>
