<template>
  <div class="ProjectListHeader">
    <div class="ProjectListHeader-title">{{$t("projectsTitle")}}</div>
    <SearchBar 
      class="ProjectListHeader-search" 
      :query="enteredQueryString" 
      v-on:commitSearch="routeToQuery"/>
      <div class="ProjectListHeader-listOptions">
        <IconButton buttonIcon="eye" position='left'>asdas</IconButton>
        <IconButton buttonIcon="heart" position='center'/>
        <IconButton buttonIcon="code-fork" position='center'/>
        <IconButton buttonIcon="clock-o" position='right'/>
  
        <IconButton class="ProjectListHeader-displayMode" buttonIcon="th-list" position="single"/>
      </div>
    </div>
  </div>
</template>

<script>
import IconButton from '@/components/IconButton'
import SearchBar from '@/components/SearchBar'
import routingHelper from '@/router/routingHelper.js'

export default {
  name: 'ProjectListHeader',
  data: () => ({
    enteredQueryString: ''
  }),
  watch: {
    $route: 'stateChange'
  },
  methods: {
    routeToQuery (enteredQuery) {
      routingHelper.pushListViewSearchQuery(this.$router, enteredQuery)
    },
    stateChange (newRoute) {
      this.enteredQueryString = routingHelper.readListViewSearchQuery(newRoute)
      // this will reflect the changes in the url, back into the search bar
    }
  },
  created () {
    this.enteredQueryString = routingHelper.readListViewSearchQuery(this.$route)
    // read initial search value from the url
  },
  components: {
    IconButton,
    SearchBar
  }
}
</script>

<style lang="scss">
@import "../style/typography.scss";
@import "../style/grid.scss";
@import "../style/dimensions.scss";
@import "../style/colors.scss";

//structure
.ProjectListHeader {
  display: flex;
}

@media #{$tablet-or-smaller} {
  $vertical-spacing: 12px;
  .ProjectListHeader {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $vertical-spacing/2 0;
  }
  .ProjectListHeader-search {
    width: 100%;
    order: 3;
  }
  .ProjectListHeader-search, .ProjectListHeader-title, .ProjectListHeader-listOptions {
    margin: $vertical-spacing/2 0;
  }
}
@media #{$larger-than-tablet} {
  .ProjectListHeader {
    align-items: center;
    flex-direction: row;
    height: 70px;
  }
  .ProjectListHeader-title {
    flex-grow: 1;
  }
  .ProjectListHeader-search {
    width: 196px;
  }
  .ProjectListHeader-listOptions {
    margin-left: 12px;
  }
}

//title

.ProjectListHeader-title {
  @include headline;
  flex-grow: 1;
}

// list options
.ProjectListHeader-listOptions {
  display: flex;
}
.ProjectListHeader-displayMode {
  margin-left: 12px;
}
</style>
