<template>
  <div class="ProjectList"> 
    
    <!-- failure indicator -->
    <div class="ProjectList-prompt" v-if="failedQueryString !== null">
      {{failedQueryString === '' ? $t('networkError') : $t('networkErrorForProjectName', {name: failedQueryString})}}<br/>
      <button v-on:click="reloadFailedRequest()">{{$t("retry")}}</button>
    </div>
    
    <!-- loading indicator -->
    <div class="ProjectList-prompt" v-if="loadingQueryString !== null">{{$t('loading')}}</div>
    
    <!-- items -->
    <ProjectItem v-for="project in projects" v-bind:project="project" :key="project.id"></ProjectItem>

  </div>
</template>

<script>
import ProjectItem from '@/components/ProjectItem'
import {projectsApi as api} from '@/data/SimscaleApi'
import axios from 'axios'
import routingHelper from '@/router/routingHelper.js'

export default {
  name: 'ProjectList',
  data: () => ({
    projects: null,

    // this is an instance of axios cancelation token,
    // used for canceling the running request
    requestCancelationToken: null,

    // the state of fetching items, is expressed
    // via these three variables
    failedQueryString: null,
    displayedQueryString: null,
    loadingQueryString: null
  }),
  created () {
    this.fetchProjects(routingHelper.readListViewSearchQuery(this.$route))
  },
  watch: {
    // this enables the component to respond to path changes in the url
    '$route': 'stateChange'
  },
  methods: {
    cancelRequestInProgress () {
      if (this.requestCancelationToken) {
        this.requestCancelationToken.cancel()
        this.requestCancelationToken = null
      }
    },
    stateChange (newRout) {
      const requestProjectName = routingHelper.readListViewSearchQuery(newRout)

      if (requestProjectName === this.loadingQueryString) {
        // rerouting to the already loading query
        return
      } else if (requestProjectName === this.displayedQueryString) {
        // rerouting to the already loaded/displayed query

        // removing any loading or failure indication
        this.failedQueryString = null
        this.loadingQueryString = null

        this.cancelRequestInProgress()
      } else {
        // rerouting to a new query string
        this.cancelRequestInProgress()

        this.fetchProjects(requestProjectName)
      }
    },
    reloadFailedRequest () {
      this.cancelRequestInProgress()
      this.fetchProjects(this.failedQueryString)
    },
    fetchProjects (projectName) {
      this.loadingQueryString = projectName
      this.failedQueryString = null

      // recreate cancelation token
      this.requestCancelationToken = axios.CancelToken.source()

      const requestConfig = {
        cancelToken: this.requestCancelationToken.token,
        params: {
          filter: projectName
        }
      }

      api.get('', requestConfig).then(({data, status}) => {
        if (status !== 200) {
          // ideally report to a service (ex. raygun),
          // if status >= 400
          this.handleRequestFailure(projectName)
          return
        }
        this.handleRequestSuccess(projectName, data)
      }, (thrown) => {
        if (axios.isCancel(thrown)) {
          // checks whether the failure is due to cancelation
          return
        }
        this.handleRequestFailure(projectName)
      })
    },
    handleRequestFailure (requestedQuery) {
      this.loadingQueryString = null
      this.failedQueryString = requestedQuery
    },
    handleRequestSuccess (requestedQuery, projects) {
      this.loadingQueryString = null
      this.displayedQueryString = requestedQuery
      this.projects = projects
    }
  },
  components: {
    ProjectItem
  }
}
</script>

<style lang="scss">
@import "../style/grid.scss";
@import "../style/colors.scss";
@import "../style/typography.scss";
@import "../style/dimensions.scss";
$top-spacing: 60px;

.ProjectList {
  position: relative;
  padding-top: $top-spacing;
  margin: 0 auto;
  @media #{$desktop} {
    width: $desktop-width;
  }
  @media #{$small-desktop} {
    width: $small-desktop-width;
  }
  @media #{$tablet} {
    width: $tablet-width;
  }
  @media #{$mobile} {
    width: 100%;
  }
}
.ProjectList-prompt {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  padding-top: 20px;
  height: $top-spacing;

  @include small-text;
  color: $light-text-color;
}
.ProjectList:after {
  // this makes sure the floating items occupy space in the container
  clear: both;
}
</style>
