<template>
  <div class="SearchBar">
    <input type="text" class="SearchBar-input"  v-model="enteredQuery" v-on:keyup.enter="commitSearch()"/>
    <IconButton buttonIcon="search" position='right' v-on:click="commitSearch()"/>
  </div>
</template>
<script>
import IconButton from '@/components/IconButton'

export default {
  props: ['query'],
  watch: {
    query (value) { // query is set from outside
      this.enteredQuery = value
    }
  },
  data () {
    return {
      enteredQuery: this.query
      // always in sync with the value displayed in input
    }
  },
  methods: {
    commitSearch () {
      // communicating the user entry,
      // via bubbling up an event carrying the query string

      // listening happens inside the ProjectListHeader.vue template
      this.$emit('commitSearch', this.enteredQuery)
    }
  },
  components: {
    IconButton
  }
}
</script>
<style lang="scss">
@import "../style/dimensions.scss";
@import "../style/colors.scss";

.SearchBar {
  height: $icon-button-size;
  display: flex;
  flex-direction: row;
}

.SearchBar-input {
  color: $light-text-color;
  outline: none;
  border-radius: $icon-button-corner-radius 0px 0px $icon-button-corner-radius;
  border: $input-border-color solid 1px;
  border-right: none;
  padding-left: 12px;
  margin: 0;
  flex: 1 100%;
  box-shadow: inset 0 0 2px rgba(black, .2);
}
</style>
