<template>
  <div id="app" v-bind:class="touchClass">
    <div class="App-menu">
      <div class="App-menuContainer">
        <router-view name="menu"></router-view>
      </div>
      
    </div>
    <router-view  name="content"></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      touchClass: (('ontouchstart' in document.documentElement) ? ' touch' : ' no-touch')
      // giving the ability to have mouse/touch related stylings in css
      // example: avoid hover effects if in touch scenario.
    }
  }
}
</script>

<style lang='scss'>
@import "./style/base.scss";
@import "./style/dimensions.scss";
@import "./style/grid.scss";
@import "./style/colors.scss";

.App-menu {
  border: 1px $menu-border-color;
  border-style: solid none;
  background-color: $menu-background-color;
}
.App-menuContainer {
  padding: 0 $project-item-spacing / 2;
  @media #{$desktop} {
    width: $desktop-width;
  }
  @media #{$small-desktop} {
    width: $small-desktop-width;
  }
  @media #{$tablet} {
    width: $tablet-width;
  }
  @media #{$mobile} {
    width: 100%;
  }
  margin: 0 auto;
}
</style>
